html{
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background: black url(../images/bg.png) no-repeat right top;
}

body{

}

#body{

}

#start{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 48%;
}

#header{

}

#content{
    background-color: rgba(255, 255, 255, 0.4);
}

#footer{

}
